@import url("../../styles/animations.css");

.BackgroundInfo {
    position: fixed;
    left: 10px;
    bottom: 10px;
    font-size: 12px;
    text-shadow: 5px 5px 20px #000000;
}
  
div.BackgroundInfo-Title {
    color: rgba(255, 255, 255, 0.8);
    padding: 0 0 5px 5px;
}

button.BackgroundInfo-Credits {
    color: rgba(255, 255, 255, 0.8);
    animation: FadeOut-FromWhite 1s linear;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0); /* transparent background */
    border: none;
    text-shadow: 2px 2px 12px #000000;
}

button.BackgroundInfo-Credits:hover {
    color: white;
    animation: FadeIn-ToWhite 0.5s linear;
}