body, html{
  height: 100%;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /* Text cannot be selected or highlighted with mouse */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  color: white;
}

input[type=text] {
  border: none;
  border-bottom: 3px solid white;
  background-color: rgba(0, 0, 0, 0); /* transparent bg*/
  color: white;
  width: 400px;
  height: 40px;
  text-align: center;
  font-size: 36px;
}

input[type=text]:focus {
  outline: none;
}

/***********************/
/*                     */
/*        SPACES       */
/*                     */
/***********************/
.TabSpan {
  margin-right:1.5em; 
  display:inline-block
}

/**************************************************/
/*                                                */
/*        TOP LEFT AND BOTTOM RIGHT BUTTONS       */
/*                                                */
/**************************************************/

button {
  border: none;
  background-color: rgba(0, 0, 0, 0); /* transparent bg */
  color: white;
  text-shadow: 4px 4px 20px #000000;
  font-size: 18px; 
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

/******************************************************/
/*                                                    */
/*        UTILITY BUTTONS (CHECKBOX, PENCIL, X)       */
/*                                                    */
/******************************************************/

.Close-Btn, .Edit-Btn {
  color: rgba(255, 255, 255, 0.7);
  font-size: 28px;
  font-weight: bold;
}


.CB-Btn {
  color: rgba(255, 255, 255, 0.7); 
  font-size: 28px;
  font-weight: bold;
}

.Close-Btn:hover,
.Close-Btn:focus,
.Edit-Btn:hover,
.Edit-Btn:focus,
.CB-Btn:hover,
.CB-Btn:focus {
    text-decoration: none;
    cursor: pointer;
}

.Close-Btn:hover,
.Close-Btn:focus {
    color: red;
}

.Edit-Btn:hover, 
.Edit-Btn:focus {
    color: #7CFC00;
}

.CB-Btn:hover,
.CB-Btn:focus {
    color: white;
}

/**************************************/
/*                                    */
/*        MODALS... IN GENERAL        */
/*                                    */
/**************************************/
.Modal-Hidden {
  display: none;
}



/************************/
/*                      */
/*        HEADER        */
/*                      */
/************************/
#header-left {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 5%);
  grid-column-gap: 30px;
  text-align: center;
}

/************************/
/*                      */
/*        CENTER        */
/*                      */
/************************/ 
#center {
  text-align: center;
}

/************************/
/*                      */
/*        BOTTOM        */
/*                      */
/************************/ 


/*************************************/
/*                                   */
/*              WEATHER              */
/*                                   */
/*************************************/
.Weather-Main {
  right: 0;
  top: 0;
  position: fixed;
}

#temperature {
  font-size: 48px;
}

/***********************************/
/*                                 */
/*              CLOCK              */
/*                                 */
/***********************************/
#time {
  font-size: 200px;
}

/***********************/
/*                     */
/*        QUOTE        */
/*                     */
/***********************/
#quote {
  text-align: center;
}

#quote-text {
  font-size: 18px;
  mix-blend-mode: screen;
}

/*******************************/
/*                             */
/*        GOOGLE SEARCH        */
/*                             */
/*******************************/
#input-google-search {
  border-bottom: none;
  background-image: url('components/img/search-icon-inactive.png');
  background-repeat: no-repeat;
  background-position: 7px 5px;
  padding-left: 27px;
  top: 20px;
  height: 24px;
  text-align: left;
  font-size: 12px;
  width: 250px;
}

#input-google-search:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.7);
}

#input-google-search-active {
  border-bottom: 3px solid white;
  background-image: url('components/img/search-icon.png');
  background-repeat: no-repeat;
  background-position: 7px 5px;
  padding-left: 27px;
  top: 20px;
  height: 24px;
  text-align: left;
  font-size: 12px;
  width: 250px;
}

/***********************/
/*                     */
/*        LINKS        */
/*                     */
/***********************/


/***************************/
/*                         */
/*        TODO LIST        */
/*                         */
/***************************/
#todo-btn {
  right: 0;
  position: fixed;
  bottom: 0;
}

/****************************************/
/*                                      */
/*              MAIN FOCUS              */
/*                                      */
/****************************************/
#main-focus {
  font-size: 24px;
}

#show-focus-0 {
  display: none;
} /* this is for when the page first loads */

#greeting {
  font-size: 60px;
}

/* the css that came with create-react-app */
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
